body {
    background-color: rgb(236, 234, 212);
}

/* buttons styling */
.buttons, .choice {
    background-color: indigo;
    border-radius: 10px;
    color: white;
    width: 200px;
    height: 30px;
    padding: 20px;
    font-size: 18px;
    font-weight: lighter;
    margin: 1%;
}

#high-scores {
    margin: 0;
}

.buttons:hover {
    background-color: lightskyblue;
}
.choice:hover {
    background-color: plum;
}

.choices {
    margin: 50px;
    justify-content: space-evenly;}

/* timer styling */
.time {
    font-size: 24px;
}

/* content and question styling */
#content {
    text-align: center;
    display: flex;
    justify-content: center;
}

#question-title {
    font-weight: bold;
    font-size: 28px;
}

#questions {
    flex-basis: 60%;
}

#feedback-container {
    color: grey;
    font-size: 28px;
    border-top: 3px solid grey;
    margin: 20px auto 0 auto;
    width: 60%;
}

.hide {
    display: none;
}